.App {
  height: 100vh;
}

.Home {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
}

.red {
  color: #EF382A;
}

.Login {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-user-profile-picture {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.profile-picture {
  object-fit: cover;
  height: 300px;
}

.link {
  color: #61dafb;
}

body {
  /* overflow-y: hidden; */
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  -webkit-overflow-scrolling: touch;
}

#start-text {
  animation: blink 2.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}